<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
</head>
<body>
  <h2>Welcome <%=result.firstName %> !</h2>
  <div class="form"> 
    <div class="id"><%=result.adminId %></div>
    <div class="firstName"><%=result.firstName %></div>
    <div class="lastName"><%=result.lastName %></div>
    <div class="dob"><%=result.dob %></div>
  </div>
  <a href="/admin/logout">Logout</a>
  <script>
  </script>
</body>
</html>
